    <main class="container">
      <article class="grid">
        <div>
          <hgroup>
            <h1>Restore your password</h1>
          </hgroup>
          <form action="restorepass" method="post">
            <input type="email" name="email" placeholder="Email" aria-label="Login" autocomplete="nickname" required>
            <input type="password" name="newPassword" placeholder="New password" aria-label="Password" autocomplete="current-password" required>
            <fieldset>
            </fieldset>
            <button type="submit" class="contrast">Restore Password</button>
          </form>
        </div>
        <div></div>
      </article>
    </main>